:root {
    --primary-color: #1B2336;
    --secondary-color: #F3E6CE;
    --accent-color: #216082;
    --heading-font: "Bowlby One", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: var(--body-font);
    color: black;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
}

header img {
    height: 150px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
    margin-left: 50px;
}

nav {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-right: 50px;
}

h1, h2 {
    font-family: var(--heading-font);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

h1, article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    top: 40px;
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
    background-color: #1b2336c1;
    padding: 10px;
    border-top: 3px solid var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
}

article {
    top: 120px;
    left: 4px;
    width: 800px;
    background-color: #216082bf;
    color: var(--secondary-color);
}

.hero article img {
    width: 80px;
    height: auto;
    float: right;
    margin: 5px 64px 5px 30px;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
}

#history h2 {
    text-align: center;
    margin: 4px;
}

#history, #adventure {
    border-top: 4px solid var(--accent-color);
    background-color: var(--secondary-color);
    margin: 20px 0 20px 0;
}

#history p {
    padding: 0;
}

#adventure h2 {
    text-align: center;
    margin-bottom: 40px;
}

#river-rafting {
    display: flex;
    justify-content: space-between;
}

figure img {
    width: 125px;
    height: auto;
}

#adventure {
    padding: 40px;
}

figcaption {
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-around;
    align-items: center;
}

footer p {
    text-align: center;
    grid-column: 2 / 3;
}

.socialmedia a img {
    height: 30px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    grid-column: 3 /4;
    margin-right: 30px;
}

.socialmedia a {
    margin: 0;
    gap: 0;
}