:root {
    --primary-color: #0077b6;
    --secondary-color: #fb8500;
    --accent-1: #ffb703;
    --accent-2: #8ecae6;
}


header {
    display: grid;
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: var(--primary-color);
    padding: 50px;
}

header img {
    margin-left: 200px;
    width: 200px;
    height: 200px;
}

.navigation-bar {
    display: flex;
    padding: 10px;
    margin-right: 200px;
    border: 2px solid white;
    background-color:#0350af;
}

nav a {
    margin-right: 30px;
    color: white;
}

nav a li {
    margin-right: 0px;
}

body {
    font-family: "Oxanium", sans-serif;
  }

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(5, 130, 255, 0.459);
    padding: 40px;
}

article {
    position: absolute;
    bottom: 10%;
    left: 65%;
    overflow: auto;
    background-color: var(--accent-1);
}

.article img {
    float: right;
}

.history-section {
    text-align: center;
    background-color: var(--accent-2);
    padding: 30px;
}

.map {
    width: auto;
    border: 2px solid black;
}

.adventure h2 {
    text-align: center;
}

.adventure-imgs {
    display: flex;
    justify-content: space-between;
}

.adventure-imgs img{
    width: 100%;
    height: 275px;
}

.adventure {
    padding: 5px 20px 40px 20px;
    border: 5px solid var(--primary-color);
}

.adventure-imgs figcaption {
    padding: 15px;
}

.sociallinks img {
    width: 20px;
    height: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}

.footer-content p {
    text-align: center;
    margin-left: 40%;
}

form {
    width:  650px;
    margin: 0 auto;
    border: 1px solid rgba(0 ,0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
}

legend {
    padding: 0.5rem;
    color: var(--primary-color);
    font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
}

input [type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
}

button:hover {
    background-color: darkgreen
}