@import url('https://fonts.google.com/specimen/Asul?query=asul');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #BEC5AD;
    --secondary-color: #A4B494;
    --accent1-color: #519872;
    --accent2-color: #3B5249;

    --heading-font: 'asul', static;
    --paragraph-font: 'asul', static;

    --nav-background-color: #BEC5AD;
    --nav-link-color:#3B5249;
    --nav-hover-link-color:#A4B494;
    --nav-hover-background-color:#519872;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}