* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

:root {
    --primary-color: #0e172d;
    --margin-size: 1.5rem;
    --secondary-color: #0e172d36;
}
nav {
    display: flex;
    background-color: var(--primary-color);
    padding: 10px;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    display: block;
    text-decoration: none;
}

h1 {
    color: var(--primary-color);
    margin: var(--margin-size);
    border-bottom: 1px solid var(--primary-color);
}

main img {
    float: right;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin-left: var(--margin-size);
    margin-right: var(--margin-size);
    margin-bottom: var(--margin-size);
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid var(--primary-color);
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 26%;
    color: rgb(233, 233, 233);
    font-size: 1.5rem;
}

p {
    padding: 0;
    margin: var(--margin-size);
}

main {
    max-width: 840px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

aside {
    position: relative;
    width: 22rem;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 2rem;
    border-top: 1px dotted var(--primary-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    background-color: #0f182f17;
    color: black;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}




